---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/infografia2.svg";
import logoSolucionesDigitales from "assets/soluciones/aicon_logo_asistentes-virtuales.png";
import logoConstruiamos from "assets/soluciones/aicon_logo_construiamos.png";
import Link from "@components/ui/link.astro";

import iconA01 from "assets/soluciones/aicon_soluciones_a_icon-01.svg";
import iconA02 from "assets/soluciones/aicon_soluciones_a_icon-02.svg";
import iconA03 from "assets/soluciones/aicon_soluciones_a_icon-03.svg";
import iconA04 from "assets/soluciones/aicon_soluciones_a_icon-04.svg";
import iconB01 from "assets/soluciones/aicon_soluciones_b_icon-01.svg";
import iconB02 from "assets/soluciones/aicon_soluciones_b_icon-02.svg";
import iconB03 from "assets/soluciones/aicon_soluciones_b_icon-03.svg";
import iconB04 from "assets/soluciones/aicon_soluciones_b_icon-04.svg";
import imgSolucionesA from "assets/soluciones/aicon_soluciones_a_img.png";


const { pasos } = Astro.props;

---

<div
  class="gap-6 lg:space-y-12 md:flex md:space-y-0 max-md:flex-col-reverse max-md:flex"
  :class="intersect ? 'animate-fade-up animate-delay-[600ms] animate-ease-out':'opacity-0'">
  <div class="relative md:w-5/12">
    <div
      class="panel md:absolute inset-0 flex flex-col justify-center transition duration-500 visible opacity-100 scale-100"
      id="panel-0">
      <div id="panel-0-form">
        <Picture
              src={logoSolucionesDigitales}
              alt="Icon"
              widths={[400]}
              sizes="(max-width: 1024px) 200px, 250px"
              loading="eager"
              format="svg"
            />
            <p class="mt-6 text-black lg:text-lg mb-5 tracking-tight leading-tight">
              Conecta con tus clientes, resuelve sus consultas, bríndales recomendaciones e incrementa tus ventas
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2"> 
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconB01}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Mejora la interacción con tus clientes</p>
                </div>
              </div>
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconB02}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Integración con tu embudo de ventas</p>
                </div>
              </div>
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconB03}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Asistente de venta y post-venta</p>
                </div>
              </div>
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconB04}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Cotizaciones automáticas</p>
                </div>
              </div>
            </div>
        <Link class="max-w-max sm:text-base mt-10 text-xs ml-0 before:bg-black text-white" style="group_icon" href="#form-maita" size="md" color="dark">Ver la demo</Link>
        <!-- <div class="mt-8 space-y-6"> -->
          <!-- <div class="flex items-center gap-6">
            <div
              class="flex h-20 w-20 rounded-3xl border border-gray-200 bg-white p-4 dark:border-gray-600/60 dark:bg-gray-900/40">
              <img
                class="m-auto h-8 w-auto"
                src="https://cdn-icons-png.flaticon.com/512/4727/4727266.png"
                alt="icon illustration"
                loading="lazy"
                width="512"
                height="512"
              />
            </div>
            <div class="w-[calc(100%-7.5rem)]">
              <h4 class="text-base lg:text-lg font-semibold text-black">
                Together as one
              </h4>
              <p class="mt-1 text-black">
                Accusantium nemo perspiciatis delectus atque autem!
              </p>
            </div>
          </div> -->
          <!-- <form
            action="https://wisecai.us11.list-manage.com/subscribe/post?u=a947bf997eeb7569bca8b53c6&id=c69d5cc754&f_id=0012ade0f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate mt-12"
            target="_blank"
            :class="intersect ? 'animate-shake animate-delay-[5000ms] animate-ease-out':'opacity-0'">
            <div
              id="mc_embed_signup_scroll"
              class="relative flex items-center rounded-full border border-primary/20 bg-white p-1 px-2 shadow-md focus-within:ring-2 focus-within:ring-primary dark:border-white/10 dark:bg-dark dark:text-white md:p-2 lg:pr-3">
              <div class="py-3 pl-4 lg:pl-5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="m-auto h-6 w-6 fill-gray-500 dark:fill-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor">
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  ></path>
                  <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  ></path>
                </svg>
              </div>

              <input
                id="mce-EMAIL"
                name="EMAIL"
                aria-label="your email"
                autocomplete="email"
                placeholder="Correo electrónico"
                class="required email w-full rounded-full border-none bg-transparent pl-4 placeholder-gray-600 outline-none focus:ring-0 dark:placeholder-white"
                type="email"
                required
              />
              <div class="md:pr-1.5 lg:pr-0">
                <button
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  type="submit"
                  title="Register"
                  class="relative ml-auto h-12 w-16 before:absolute before:inset-0 before:rounded-full before:bg-constructor before:transition before:duration-300 active:duration-75 active:before:scale-95 sm:w-auto sm:px-6">
                  <span
                    class="relative hidden w-max font-medium text-black md:block">
                    Registrarme
                  </span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="relative mx-auto h-6 w-6 text-white dark:text-gray-900 md:hidden">
                    <path
                      d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="hidden">
              <ul>
                <li>
                  <input
                    type="radio"
                    name="MMERGE6"
                    id="mce-MMERGE60"
                    value="Constructor"
                    checked
                  /><label for="mce-MMERGE60">Constructor</label>
                </li>
                <li>
                  <input
                    type="radio"
                    name="MMERGE6"
                    id="mce-MMERGE61"
                    value="Proveedor"
                  /><label for="mce-MMERGE61">Proveedor</label>
                </li>
              </ul>
            </div>
            <div id="mce-responses" class="clear foot">
              <div
                class="response mt-5 border-l-4 border-red-600 px-4 py-3"
                id="mce-error-response"
                style="display: none;">
              </div>
              <div
                role="alert"
                class="response mt-5 border-l-4 border-constructor px-4 py-3"
                id="mce-success-response"
                style="display: none;">
              </div>
            </div>
          </form> -->
        <!-- </div> -->
      </div>
    </div>
    <div
      class="panel absolute inset-0 flex flex-col justify-center transition duration-500 invisible opacity-0 scale-90"
      id="panel-1">
      <div id="panel-1-form">
        <Picture
              src={logoConstruiamos}
              alt="Icon"
              widths={[400]}
              sizes="(max-width: 1024px) 250px, 300px"
              loading="eager"
              format="svg"
            />
            <p class="mt-6 text-black lg:text-lg mb-5 tracking-tight leading-tight">
              Gestiona de manera más eficiente y convierte tu data en tu principal activo
            </p>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-2"> 
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconA01}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Modelo de IA experto en Construcción & Inmobiliario</p>
                </div>
              </div>
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconA02}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Gestión de información (proyectos y productos)</p>
                </div>
              </div>
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconA03}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Gestión de leads calificados de tus asistentes digitales</p>
                </div>
              </div>
              <div class="card border border-[#0A1828] rounded-xl p-5">
                <Picture
                  src={iconA04}
                  alt="Icon"
                  widths={[200]}
                  sizes="(max-width: 1024px) 50px, 60px"
                  loading="eager"
                  format="svg"
                />
                <div class="card-description mt-4 tracking-tight leading-tight">
                  <p>Predición de hábitos de consumo de tus clientes</p>
                </div>
              </div>
            </div>
        
        <Link class="max-w-max sm:text-base mt-10 text-xs ml-0 before:bg-black text-white" style="group_icon" href="#form-maita" size="md" color="dark">Ver la demo</Link>
        <!-- <div class="mt-8 space-y-6"> -->
          <!-- <div class="flex items-center gap-6">
            <div
              class="flex h-20 w-20 rounded-3xl border border-gray-200 bg-white p-4 dark:border-gray-600/60 dark:bg-gray-900/40">
              <img
                class="m-auto h-8 w-auto"
                src="https://cdn-icons-png.flaticon.com/512/6106/6106288.png"
                alt="icon illustration"
                loading="lazy"
                width="512"
                height="512"
              />
            </div>
            <div class="w-[calc(100%-7.5rem)]">
              <h4 class="text-base lg:text-lg font-semibold text-primary ">
                Together as one
              </h4>
              <p class="mt-1 text-primary ">
                Accusantium nemo perspiciatis delectus atque autem!
              </p>
            </div>
          </div> -->
          <!-- <form
            action="https://wisecai.us11.list-manage.com/subscribe/post?u=a947bf997eeb7569bca8b53c6&id=c69d5cc754&f_id=0012ade0f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate mt-12"
            target="_blank"
            :class="intersect ? 'animate-shake animate-delay-[5000ms] animate-ease-out':'opacity-0'">
            <div
              class="relative flex items-center rounded-full border border-primary/20 bg-white p-1 px-2 shadow-md focus-within:ring-2 focus-within:ring-primary dark:border-white/10 dark:bg-dark dark:text-white md:p-2 lg:pr-3">
              <div class="py-3 pl-4 lg:pl-5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="m-auto h-6 w-6 fill-gray-500 dark:fill-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor">
                  <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                  ></path>
                  <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                  ></path>
                </svg>
              </div>
              <input
                id="mce-EMAIL"
                name="EMAIL"
                aria-label="your email"
                autocomplete="email"
                placeholder="Correo electrónico"
                class="required email w-full rounded-full border-none bg-transparent pl-4 placeholder-gray-600 outline-none focus:ring-0 dark:placeholder-white"
                type="email"
                required
              />
              <div class="md:pr-1.5 lg:pr-0">
                <button
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  type="submit"
                  title="Register"
                  class="relative ml-auto h-12 w-16 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight sm:w-auto sm:px-6">
                  <span
                    class="relative hidden w-max font-medium text-white dark:text-gray-900 md:block">
                    Registrarme
                  </span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="relative mx-auto h-6 w-6 text-white dark:text-gray-900 md:hidden">
                    <path
                      d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>
            <div class="hidden">
                <ul>
                  <li>
                    <input
                      type="radio"
                      name="MMERGE6"
                      id="mce-MMERGE60"
                      value="Constructor"
                    /><label for="mce-MMERGE60">Constructor</label>
                  </li>
                  <li>
                    <input
                      type="radio"
                      name="MMERGE6"
                      id="mce-MMERGE61"
                      value="Proveedor" checked
                    /><label for="mce-MMERGE61">Proveedor</label>
                  </li>
                </ul>
              </div>
            <div id="mce-responses" class="clear foot">
              <div
                class="response mt-5 border-l-4 border-red-600 px-4 py-3"
                id="mce-error-response"
                style="display: none;">
              </div>
              <div
                role="alert"
                class="response mt-5 border-l-4 border-pimary px-4 py-3"
                id="mce-success-response"
                style="display: none;">
              </div>
            </div>
          </form> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div
    class="overflow-hidden sm:px-12 md:mx-0 md:w-7/12 md:overflow-visible md:px-0" style="margin-top: 0px;">
    <div
      class="relative before:absolute before:inset-0 before:scale-x-110 after:absolute after:inset-0">
      <div class="relative h-[25rem] min-[500px]:h-[30rem] overflow-clip py-10 md:h-[40rem] lg:p-20">
        <div
          data-target="panel-0"
          class="justify-center panel-preview absolute inset-0 z-10 flex translate-y-0 scale-100 items-center overflow-hidden px-6 opacity-100 transition duration-500 sm:px-10">
          <Picture
            src={imgSolucionesA}
            alt="Imagen Asistentes Virtuales"
            widths={[567, 567]}
            sizes="500px"
            loading="lazy"
            format="png"
          />
          <!-- <img src="./images/screenshots/tailus-home.webp" class="mx-auto h-80 w-96 rounded-t-3xl border object-cover object-top shadow-2xl dark:border-transparent sm:h-[28rem]" alt="tailus screenshot" loading="lazy" width="850" height="1780"> -->
        </div>
        <div
          data-target="panel-1"
          class="justify-center panel-preview absolute inset-0 z-0 flex translate-y-[100%] scale-75 items-center overflow-hidden px-6 opacity-50 transition duration-500 sm:px-10">
          <Picture
            src={imgSolucionesA}
            alt="Imagen Asistentes Virtuales"
            widths={[567, 567]}
            sizes="(max-width: 768px) 400px, 550px"
            loading="eager"
            format="png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
