---
// @ts-ignore
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import scale from "assets/respaldos/respaldoScale.png";

import mezcladora from "assets/clientes/clienteMezcladora.png";
import sika from "assets/clientes/clienteSika.png";
import unacem from "assets/clientes/clienteUnacem.png";
import habitat from "assets/clientes/clienteHabitat.png";

---

<div class="lg:mx-auto pt-10">
  <div
    class="mt-0 max-w-3xl mx-auto"
    x-data="{intersect:false}"
    x-intersect:enter="intersect=true"
    x-intersect:leave="intersect=false">
    <h2 class="text-center text-3xl lg:text-5xl text-primary font-semibold tracking-tight"><span class="text-secondary">Trabajamos</span> con...</h2>
    <div
      class="flex flex-col lg:flex-row justify-between gap-10 lg:gap-6 mt-10 lg:gap-12 items-center"
      :class="intersect ? 'animate-fade-up animate-duration-[1000ms] animate-ease-out':'opacity-0'">
      <Picture
        src={sika}
        alt="Logo de Start Up"
        widths={[250]}
        sizes="(max-width: 120px) 100vw, 170px"
        loading="eager"
        format="png"
      />
      <Picture
        src={unacem}
        alt="Logo de Unacem"
        widths={[250]}
        sizes="(max-width: 120px) 100vw, 180px"
        loading="eager"
        format="png"
      />
      <Picture
        src={habitat}
        alt="Logo de Habitat"
        widths={[200]}
        sizes="(max-width: 120px) 100vw, 150px"
        loading="eager"
        format="png"
      />
      <Picture
        src={mezcladora}
        alt="Logo de Mezcladora"
        widths={[200]}
        sizes="(max-width: 120px) 100vw, 200px"
        loading="eager"
        format="png"
      />
      <Picture
        src={scale}
        alt="Logo de Scale"
        widths={[200]}
        sizes="(max-width: 120px) 100vw, 150px"
        loading="eager"
        format="png"
      />
      
    </div>
  </div>
</div>
