---
import { Picture } from "@astrojs/image/components";
import icon01 from "assets/porque/aicon_porque_icon-01.svg";
import icon02 from "assets/porque/aicon_porque_icon-03.svg";
import icon03 from "assets/porque/aicon_porque_icon-04.svg";
import icon04 from "assets/porque/aicon_porque_icon-02.svg";

import logoAicon from "assets/navbar/aicon-logo.png";
import Link from "@components/ui/link.astro";


---

<div
  x-data="{intersect:false}"
  x-intersect:enter="intersect=true"
  x-intersect:leave="intersect=false">
  <section
    class="relative md:px-0 max-w-6xl mx-auto" :class="intersect ? 'animate-fade-up animate-delay-[200ms] animate-ease-out':'opacity-0'">
    <div class="relative before:absolute before:scale-x-110 after:absolute">
      <div class="relative">
        <div
          class="py-10">
          <div class="relative mx-auto w-full sm:px-12">
            <div
              class="grid sm:grid-cols-2 lg:grid-cols-2">
              <div
              class="p-5 md:p-10 text-left">
              <Picture
                src={logoAicon}
                alt="Logo Aicon"
                widths={[400]} 
                sizes="(max-width: 800px) 200px, 200px"
                loading="eager"
                format="svg"
              /> 
              <h2 class="text-left text-3xl lg:text-5xl font-bold mt-12 mb-8 tracking-tight text-white">¿Por qué AICON?</h2>
              <p class="text-white">Brindamos soluciones digitales especializadas en el  rubro de construcción e inmobiliario que agilizan el proceso de ventas, proporcionan un soporte más eficiente y mejoran la experiencia del cliente.</p>
              <Link class="max-w-max sm:text-base mt-12 text-xs ml-0 before:bg-secondary" style="group_icon" href="https://wa.me/51990442820" size="md" target="_blank">Contáctanos</Link>
            </div>
            <div
              class="grid sm:grid-cols-2 lg:grid-cols-2">
              <div
                class="group relative transition-shadow hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                <div class="space-y-8 p-5">
                  <div class="space-y-2">
                    <div class="min-w-[120px]">
                      <Picture
                          src={icon01}
                          alt="Icon"
                          widths={[120]} 
                          sizes="(max-width: 800px) 80px, 80px"
                          loading="eager"
                          format="svg"
                      /> 
                    </div>
                    <p class="text-medium text-white">
                      Eleva la experiencia de tus clientes generando <span class="text-secondary">+40% de conversión</span>
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="group relative transition-shadow hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                <div class="space-y-8 p-5">
                  <div class="space-y-2">
                    <div class="min-w-[120px]">
                      <Picture
                          src={icon02}
                          alt="Icon"
                          widths={[120]} 
                          sizes="(max-width: 800px) 80px, 80px"
                          loading="eager"
                          format="svg"
                      /> 
                    </div>
                    <p class="text-medium text-white">
                      <span class="text-secondary"> Atención 24/7</span> para tus clientes generando un 33% más de leads
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="group relative transition-shadow hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                <div class="space-y-8 p-5">
                  <div class="space-y-2">
                    <div class="min-w-[120px]">
                      <Picture
                          src={icon03}
                          alt="Icon"
                          widths={[120]} 
                          sizes="(max-width: 800px) 80px, 80px"
                          loading="eager"
                          format="svg"
                      /> 
                    </div>
                    <p class="text-medium text-white">
                      Convierte tu información en tu <span class="text-secondary">principal activo</span>
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="group relative transition-shadow hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
                <div class="space-y-8 p-5">
                  <div class="space-y-2">
                    <div class="min-w-[120px]">
                      <Picture
                          src={icon04}
                          alt="Icon"
                          widths={[120]} 
                          sizes="(max-width: 800px) 80px, 80px"
                          loading="eager"
                          format="svg"
                      /> 
                    </div>
                    <p class="text-medium text-white">
                      Reduce tu inversión en personal de ventas y comercial en <span class="text-secondary">+$40k/año</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>