---
import Container from "@components/container.astro";
import ContainerBanner from "@components/containerbanner.astro";

import ContainerHeader from "@components/containerheader.astro";
import ContainerSlogan from "@components/containerslogan.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Platforms from "@components/plataformas.astro";
import Proposito from "@components/proposito.astro";
import Hero from "@components/hero.astro";
import LogosConfian from "@components/logosconfian.astro";
import LogosRespaldados from "@components/logosrespaldados.astro";
import AboutUs from "@components/aboutus.astro";
import PorqueAicon from "@components/porqueaicon.astro";


import Layout from "@layouts/Layout.astro";
import Contactform from "@components/contactform.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import PricingCard from "@components/pricing.astro";
import Ecosistema from "@components/ecosistema.astro";
import Maintance from "@components/mantenimiento.astro";
import Tabs from "@components/tabs.astro";
import SectionPasos from "@components/tabs/sectionpasos.astro";
import SectionMas from "@components/tabs/sectionmas.astro";
import Faqs from "@components/faq.astro";
import Form from "@components/form.astro";
import SectionSlogan from "@components/slogan.astro";
import Containerbanner from "@components/containerbanner.astro";

import iconWhatsapp from "assets/aicon_icon-whatsapp.png";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

const pricing = [
  {
    id: "plan-free",
    name: "Plan Free",
    price: {
      monthly: "$0/mes",
      annual: "",
      discount: "10%",
      original: "$24",
    },
    popular: false,
    features: [
      "Plataforma Wisec.ai + Wichat",
      "1 millón de tokens con GPT-3.5 ",
      "200MB de almacenamiento",
      "Integraciones disponibles ",
      "Seguridad de datos y privacidad",
      "1 usuario",
    ],
    button: {
      text: "Elegir plan",
      link: "/#contact",
    },
  },
  {
    id: "plan-basic",
    name: "Plan Basic",
    price: {
      monthly: "$70/mes",
      annual: "$700/anual",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "1 mes gratis",
      "Plataforma Wisec.ai + Wichat",
      "5 millones de tokens con GPT-3.5",
      "4GB almacenamiento",
      "Integraciones disponibles",
      "Seguridad de datos y privacidad",
      "1-5 usuarios",
    ],
    button: {
      text: "Elegir plan",
      link: "/#contact",
    },
  },
  {
    id: "plan-power",
    name: "Plan Power",
    price: {
      monthly: "$250/mes",
      annual: "$2,5K/anual",
      discount: "10%",
      original: "$24",
    },
    popular: false,
    features: [
      "1 mes gratis",
      "Plataforma Wisec.ai + Wichat + Witrack + VeriWi",
      "15 millones de tokens con GPT-3.5",
      "12GB almacenamiento",
      "Integraciones disponibles",
      "Seguridad de datos y privacidad",
      "Usuarios ilimitados",
    ],
    button: {
      text: "Elegir plan",
      link: "/#contact",
    },
  },
  {
    id: "plan-enterprise",
    name: "Plan Enterprise",
    price: {
      monthly: "Personalizado",
      annual: "",
      discount: "10%",
      original: "$24",
    },
    popular: false,
    features: [
      "1 mes gratis",
      "Plataforma Wisec.ai + Wichat + Witrack + VeriWi",
      "Tokens personalizados",
      "Almacenamiento personalizado",
      "Integraciones disponibles",
      "Seguridad de datos y privacidad",
      "Usuarios ilimitados",
    ],
    button: {
      text: "Elegir plan",
      link: "/#contact",
    },
  },
];
---

<Hero />
  <Container class="pb-0" id="clientes">
    <LogosConfian />
  </Container>
  <ContainerBanner class="bg-secondary" id="about-us">
    <AboutUs />
  </ContainerBanner>
  <ContainerBanner class="bg-primary" id="porque-aicon">
    <PorqueAicon />
  </ContainerBanner>
  <Container class="mb-0 mb-0">
    <Tabs />
  </Container>
  <!-- <Container class="mb-0 mb-0">
    <SectionPasos />
  </Container> -->
  <!-- <ContainerBanner>
    <SectionMas />
  </ContainerBanner> -->
  <!-- <Container>
    <Ecosistema />
  </Container> 
  <Container>
    <Proposito />
  </Container> 
  <Container>
    <Platforms />
  </Container> 
  <Container>
    <Features />
  </Container>  -->
  <Containerbanner class="bg-primary">
    <LogosRespaldados />
  </Containerbanner>
  <Container class="py-14" id="form-maita">
    <Form />
  </Container>
  <!-- <Container>
    <div class="pt-32 pb-20 lg:pb-0">
      <div class="text-center">
        <h2
          class="text-3xl font-bold text-gray-800 dark:text-white md:text-4xl">
          Nuestro <span class="text-secondary">Dream Team</span>
        </h2>
        <blockquote
          class="mx-auto mt-6 italic text-gray-700 dark:text-gray-300 md:w-3/4 lg:w-3/5">
          "Los grandes logros de cualquier persona generalmente dependen de
          muchas manos, corazones y mentes" <span class="font-semibold">
            --- Walt Disney</span
          >
        </blockquote>
      </div>

      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        {
          publishedTeamMembers.map((teamMemberEntry) => (
            <div class="group">
              <div class="w-full aspect-square">
                <Picture
                  src={teamMemberEntry.data.avatar.src}
                  alt={teamMemberEntry.data.avatar.alt}
                  sizes="(max-width: 800px) 100vw, 400px"
                  widths={[200, 400]}
                  aspectRatio="1:1"
                  background="#ffffff"
                  fit="cover"
                  position="center"
                  class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
                />
              </div>

              <div class="mt-4 text-center">
                <h2 class="text-lg text-primary">
                  {teamMemberEntry.data.name}
                </h2>
                <h3 class="text-sm text-slate-500">
                  {teamMemberEntry.data.title}
                </h3>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container> -->
  <!-- <Container class="mb-0 mb-0">
    <Faqs />
  </Container> -->
  <!-- <ContainerSlogan>
    <SectionSlogan />
  </ContainerSlogan> -->

  <!-- <Container id="pricing">
    <Sectionhead>
      <Fragment slot="title">Nuestros <span class="text-secondary">planes</span></Fragment>
      <Fragment slot="desc">
        Precios simples y predecibles. Sin sorpresas.
      </Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-4 gap-2 mx-auto mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container> -->

  <!-- <Container id="contactanos">
    <Sectionhead>
      <Fragment slot="title">Contáctanos</Fragment>
      <Fragment slot="desc">¡Estamos aquí para apoyarte!</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-secondary">Contacta a Wisec</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          ¿Tienes algo qué decir? Estamos aquí para ayudar. Rellena el
          formulario o envía correo electrónico o llamar al teléfono.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-primary"></div><div
            class="flex items-center mt-2 space-x-2 text-primary">
            <Icon class="text-primary w-4 h-4" name="uil:envelope" /><a
              href="mailto:hello@astroshipstarter.com">cgomezl@uni.pe</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-primary">
            <Icon class="text-primary w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (990) 442 820">+1 (990) 442 820</a
            >
          </div>
        </div>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Redes sociales:
        </p>
        <div class="mt-1">
          <div class="flex items-center mt-2 space-x-2 text-primary">
            <Icon class="text-primary w-5 h-5" name="mdi:instagram" /><a
              href="https://www.instagram.com/wisec.ai/"
              target="_blank"
              rel="nofollow">Wisec.ia</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-primary">
            <Icon class="text-primary w-5 h-5" name="mdi:linkedin" /><a
              href="https://www.linkedin.com/company/wisecai"
              target="_blank"
              rel="nofollow">Wisec.ia</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container> -->

  <!-- WHATSAPP BUTTON -->
  <!-- load font awesome for icons -->
  <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
  /> -->

  <!-- add your custom CSS -->
  <style>
    /* Add WA floating button CSS */
    .floating {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: #25d366;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      /* box-shadow: 2px 2px 3px #999; */
      z-index: 100;
    }

    .floating img {
      margin-left: 2px;
    }
  </style>

  <!-- render the button and direct it to wa.me -->
  <a
    href="https://api.whatsapp.com/send?phone=51990442820&text=Hola,%20cuentame%20que%20puedes%C2%A0hacer"
    class="floating p-3 animate-wiggle-more animate-infinite animate-ease-in"
    target="_blank">
    <Picture
          src={iconWhatsapp}
          alt="Whatsapp"
          widths={[50]}
          sizes="50px"
          loading="lazy"
          format="png"
        />
  </a>