---
import { Picture } from "@astrojs/image/components";
import SectionBannerImage from "@components/tabs/sectionbannerimage.astro"
import SectionPasos from "@components/tabs/sectionpasos.astro"
import iconArrowBottom from "assets/icon-arrow-downward.svg";
import logoAsistentesvirtuales from "assets/soluciones/aicon_logo_asistentes-virtuales.png";
import logoAsistentesvirtualesWhite from "assets/soluciones/aicon_logo_asistentes-virtuales-white.png";
import logoConstruiamos from "assets/soluciones/aicon_logo_construiamos.png";
import logoConstruiamosWhite from "assets/soluciones/aicon_logo_construiamos-white.png";


---

<section class="my-16" id="tabs">
  <div
    x-data="{intersect:false}"
    x-intersect:enter="intersect=true"
    x-intersect:leave="intersect=false"
    class="mx-auto xl:px-20 lg:pb-initial ">
    <div class="text-center pb-10 pt-10">
      <h2
        class="text-2xl font-bold md:text-3xl tracking-tight"
        :class="intersect ? 'animate-fade-up animate-duration-[200ms] animate-ease-out':'opacity-0'">
        Nuestras soluciones
      </h2>
      <p
          class="mx-auto mt-6 text-gray-700 dark:text-gray-300 md:w-3/4 lg:w-3/5">
          Brindamos productos integrables para mejorar tu ciclo de ventas
        </p>

      <div
        role="tablist"
        aria-label="tabs"
        class="relative mx-auto mt-5 grid w-auto grid-cols-2 items-center gap-x-2 rounded-full px-[3px] text-primary sm:w-max">
        <button
          role="tab"
          aria-selected="true"
          aria-controls="panel-0"
          tabindex="0"
          title="Asistentes Virtuales"
          class="btn-solucion tab relative block rounded-full py-2.5 px-5 bg-white item-active opacity-0 border-2 border-[#0A1828] text-center w-max m-auto"
          :class="intersect ? 'animate-fade-up animate-ease-out':'opacity-0'">
          <Picture
            class="img-inactive"
            src={logoAsistentesvirtuales}
            alt="Logo Asistentes virtuales"
            widths={[300]} 
            sizes="(max-width: 450px) 100px, 120px"
            loading="eager"
            format="svg"
          /> 
          <Picture
            class="img-active"
            src={logoAsistentesvirtualesWhite}
            alt="Logo Asistentes virtuales"
            widths={[300]} 
            sizes="(max-width: 450px) 100px, 120px"
            loading="eager"
            format="svg"
          /> 
        </button>
        <button
          role="tab"
          aria-selected="false"
          aria-controls="panel-1"
          tabindex="-1"
          title="Construiamos"
          class="btn-solucion tab relative block rounded-full py-2.5 px-5 bg-white opacity-0 border-2 border-[#0A1828] text-center w-max m-auto"
          :class="intersect ? 'animate-fade-up animate-delay-[200ms] animate-ease-out':'opacity-0'">
          <Picture
            class="img-inactive"
            src={logoConstruiamos}
            alt="Logo Construiamos"
            widths={[300]} 
            sizes="(max-width: 450px) 120px, 150px"
            loading="eager"
            format="svg"
          /> 
          <Picture
            class="img-active"
            src={logoConstruiamosWhite}
            alt="Logo Construiamos"
            widths={[300]} 
            sizes="(max-width: 450px) 120px, 150px"
            loading="eager"
            format="svg"
          /> 
        </button>
      </div>
    </div>
    <SectionBannerImage />
  </div>
  <!-- <div class="-mb-5 mt-10">
    <a aria-label="read more" 
      class="group relative mx-auto flex h-20 w-20 items-center justify-center cursor-pointer" id='btn-steps'>
      <Picture
              src={iconArrowBottom}
              alt="arrow bottom"
              widths={[80, 30, 30]}
              aspectRatio="1:1"
              sizes="(max-width: 1024px) 30px,50px"
              loading="eager"
              format="svg"
              class="animate-bounce animate-duration-[3000ms]"
        />
    </a>
  </div> -->
</section>
